/* INIZIO MOBILE ALBUM */
/* ROOT per i colori */
:root{
    --ColorWhite: white;
    --ColorGrey: grey;
}

/* FRECCIA SINISTRA MOBILE */
.bi.bi-arrow-left{
font-size: 25px;
color: var(--ColorWhite);
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.round-image {
    border-radius: 100%;
}

@media screen and (min-width : 978px) {
    .main-title {
        font-size: 80px;
    }

}

.user-name {
    overflow-x: hidden;
}
