/* INIZIO MOBILE ALBUM */
/* ROOT per i colori */
:root{
    --ColorWhite: white;
    --ColorGrey: grey;
    --ColorGreen:green;
    --ColorBlack:black;
}
/* FRECCIA SINISTRA MOBILE */
.bi.bi-arrow-left{
font-size: 25px;
color: var(--ColorWhite);
}
/* ALBUM IMMAGINE */
.album-img{
    box-shadow: 0px  0px 15px black;
}
.round-image {
    border-radius: 100%;
}
/*SCRITTA ALBUM PRESENTE SOLO IN MOBILE E INFORMAZIONI VARIE DELL'ALBUM */
.tempo-totale{
    opacity: 0.5;
}
/* RIGA CON IMMAGINE ROTONDA E NOME ARTISTA */
.secondary-title a{
    text-decoration: none;
    color: var(--ColorWhite);
}
/* SEZIONE CONTROLLERS MOBILE */
.controllers i{
    font-size: 23px;
    color: var(--ColorGrey);
}

.controllers i:hover{
    color: var(--ColorWhite)
}
/* TASTO PLAY BIANCO A VERDE */
.bi.bi-caret-right-fill{
    padding: 4px 12px;
    font-size: 30px;
    color: var(--ColorWhite);
    border-radius: 100%;
    background-color: var(--ColorGreen);
}
.bi.bi-caret-right-fill:hover{
    cursor: pointer;
}
/* LISTA CANZONI DELL'ALBUM IN MOBILE */
.list-main-title{
    margin-bottom: 0px;
}
.song-item:hover{
    color: var(--ColorGreen);
}
.list-second-title{
color: var(--ColorGrey);
}
/* LISTE GENERALI DI TUTTO HTML */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/* PLAYER BAR */
.playing-info-area{
    justify-content: end;
    padding: 20px;
    background-color: #262626;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

.playing-info-area i{
    font-size: 28px;
    margin-left: 20px;
}

.bi.bi-play-fill.play{
font-size: 35px; 
padding: 0;
color: var(--ColorWhite);
}

.controllers .bi.bi-heart:hover{
    color: var(--ColorGreen);
}
/* NAV BAR IN MOBILE */
.nav-icon i{
    font-size: 22px;
}
/* BREKPOINT */
@media screen and (min-width : 978px) {
    .main-title {
        font-size: 80px;
    }
}
/* SEZIONE AMICI */
.user-name {
    overflow-x: hidden;
}
/* FINE ALBUM MOBILE */
/* INIZIO ALBUM DESKTOP */
/* SEZIONE NAV DI SX */
.bi.bi-heart-fill{
padding: 4px;
border-radius: 3px;
background: rgb(62,33,167);
background: linear-gradient(148deg, rgba(62,33,167,1) 19%, rgba(255,255,255,1) 62%);
}

.bi.bi-plus-square{
    padding: 4px;
}

.bi.bi-bookmark-fill{
    padding: 4px;
    background-color: #004537;
    border-radius: 3px;
}

/* SEZIONE CENTRALE NAV IN ALTO CON LE FRECCE E IL DROPDOWN */
.bt{
    border: 0;
    border-radius: 100%;
    padding: 4px 10px;
    opacity: 0.6;
}

.bt:hover{
    opacity: 1;
}

.dropdown-toggle{
    border-radius: 15px;
}
/* SEZIONE CENTRALE CONTROLLERS DESKTOP */
.desktop-controllers{
    font-size: 25px;
    margin-bottom: 20px;
}
.desktop-controllers a{
    color: var(--ColorWhite);
    margin-right: 20px;
}
.desktop-controllers a:hover{
    color: var(--ColorGreen);
}

.bi.bi-play-fill.play{
    padding: 4px 10px;
    border-radius: 100%;
    background-color: var(--ColorGreen);
}

