body {
  background-color:#121212;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

.container-fluid {
  width: 100%;
}
/*container canzone sopra l'header versione desktop */
.container-song-desk {
  background: linear-gradient(0deg, black, rgb(30, 30, 30));
}

.container-song-desk img {
  width: 50%;
  margin-left: 20px;
  margin-top: 20px;
  box-shadow: 1px 1px 10px rgb(0, 0, 0);
}

.container-titolo-song {
  margin-left: -200px;

}

.singolo-desk {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Black.otf);
  font-weight: 500;
  font-style: normal;
}

.name-song-desk {
  font-size: 3rem;
  font-family: "Circular";
  src: url(../fonts/CircularStd-Black.otf);
  font-weight: 700;
  font-style: normal;
}

.name-artist-desk {
  margin-top: -20px;
  font-family: "Circular";
  src: url(../fonts/CircularStd-Black.otf);
  font-weight: 300;
  font-style: normal;
}

/* main */
.homeContainer {
        background-color: #121212;
        height: 100%;
}

   .header-container {
    justify-content: space-between;
    align-items: center;

  }
  
  .header-content {
    display: flex;
    align-items: center;
  }
  
  .buonaseraTitle {
    font-family: "Circular";
    src: url(../fonts/CircularStd-BoldItalic.otf);
    font-weight: 700;
    font-style: normal;
  }
  
  .icons-container {
    display: flex;
    gap: 15px;
    font-size: 22px;
    cursor: pointer;
    padding-left: 10px;
  }

/* first section */

.category {
    font-family: "Circular";
    src: url(../fonts/CircularStd-Book.otf);
    font-weight: 400;
    font-style: normal;
    font-size: 0.8rem;
    cursor:pointer;
}

#artists-area {
  justify-content: center;
}

#album-area {
  justify-content: center;
  margin: 1px;
}

.first-section-container{
display: flex;
column-gap: 15px;
}
.img-first-section {
    width: 40%;
    cursor:pointer;
  }
  
.name-first-section{
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 12px;
    max-width: 120px;
    margin-left: -10px;
    cursor:pointer;
}

.icon-first-section{
    color:grey;
    cursor:pointer;
}

.icon-first-section:hover {
    color: green;
}

/* second section */

.container-album {
  background-color: #242424;
}

.container-album img {
  width: 100%;
  margin-left: 20px;
  margin-top: 20px;
  box-shadow: 1px 1px 10px white;
}

.image2{
  display:none;
}

.bi-arrow-left-circle, .bi-arrow-right-circle {
  display: none;
}

.bi-heart-fill, .bi-three-dots-vertical, .bi-play-circle, .bi-arrow-left-circle, .bi-arrow-right-circle {
  font-size: 25px;
  color:grey;
}

.bi-heart-fill:hover, .bi-three-dots-vertical:hover {
  font-size: 25px;
  color:rgb(76, 254, 76);
}

.bi-play-circle:hover, .bi-arrow-left-circle:hover, .bi-arrow-right-circle:hover {
  color:white;
}

.album, .tracks {
  color: grey;
  font-family: "Circular";
  src: url(../fonts/CircularStd-Book.otf);
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
}

.name-album {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Book.otf);
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
  cursor:pointer;
}


/*  player position fixed */

.container-footer-fixed {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
    position:fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 2;
   }

   .player{
    display: flex;
    border-radius: 7px;
    align-items: center;
    justify-content: space-between;
    background-color: #282828f5;
    color: rgba(255, 255, 255, 0.603);
    height: 50px;
   }

   /*titolo canzone nel player*/

   .title-player {
    flex: 1;
    text-align:center;
    font-family: "Circular";
    src: url(../fonts/CircularStd-Medium.otf);
    font-weight: 500;
    font-style: normal;
   }

   .title-player p {
    margin: 0;
    line-height: 1.5;
    font-size: 0.9rem;
   }

   /*icone laterali player*/

   .icons-player{
    font-size: 25px;
    display:flex;
    gap: 10px;
    padding-right: 10px;
   }

   .bi-play-fill:hover, .bi-speaker:hover, .bi-heart:hover, .title-player p {
    cursor:pointer;
   }
   

   .bi-speaker, .bi-heart{
    color: rgba(255, 255, 255, 0.603);
   }

   /*navbar fondo pagina */

   .navbarBottom{

    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top: 15px;
    padding-bottom: 10px;
    color:rgba(255, 255, 255, 0.656);

   }
   
      /*icone navbar fondo pagina */

   .home-icon{
    font-size: 20px;
    align-items: center;
   }

   .icons-frase {
    text-align: center;
    flex: 1;
    margin: 0 10px;
    font-size: 25px;
  }
  
  .icons-frase p {
    margin-top: -5px;
    font-size: 0.7rem;
  }

  .title-player p,
    .bi-play-fill:hover,
    .bi-speaker:hover,
    .bi-heart:hover,
    .icons-frase:hover {
    color:white;
}

@media (min-width: 768px) {
  .image1{
    display:none;
   }

   .image2{
    display:block;
  }
  .container-album {
    width: 40%;
   }
  }
  @media (min-width: 768px) and (max-width: 1023px){
   .section1 {
    margin-left: 150px;
   }
  }

  @media (min-width: 1024px) {
   body, .homeContainer {
    background-color:#121212;
   }
   .bi-arrow-left-circle, .bi-arrow-right-circle {
    display: inline;
   }

   .icons-container, .category {
    display:none;
   }

   .buonaseraTitle {
    margin-top: -30px;
   }

   .first-section-container{
    background-color:#2D2D2D;
    width: 272px;
    overflow:hidden;
   }

   .img-first-section{
    margin-left: -15px;
    width: 30%;
    height: 100%;
   }

   .section1{
    margin-top: -20px;
   }

   .container-album {
    width: 40%;
   }

   .contImage {
    flex-grow: 1;
   }

  }

  @media (min-width: 1440px) {

 .first-section-container{
  width: 25%;
 }

 .container-album {
  width: 30%;
 }
 .contImage {
  flex-grow: 0;
 }

}


/* SEZIONE NAV DI SX */
.heart-side{
  padding: 1px 2px;
  border-radius: 3px;
  background: rgb(62,33,167);
  background: linear-gradient(148deg, rgba(62,33,167,1) 19%, rgba(255,255,255,1) 62%);
}
  
.bi.bi-bookmark-fill{
  padding: 4px;
  background-color: #004537;
  border-radius: 3px;
}

.bi.bi-plus-square{
  padding: 4px;
}

.bt{
  border: 0;
  border-radius: 100%;
  padding: 4px 10px;
  opacity: 0.6;
}

.bt:hover{
  opacity: 1;
}

.dropdown-toggle{
  border-radius: 15px;
}
.round-image{
  border-radius: 100%;
}

.controller-section-friends button{
  border: 0;
  background: none;
  color: var(--ColorGrey);
  font-size: 20px;
}

.dropdown-toggle{
  border: none;
}

/* SEZIONE CENTRALE SEZIONE PULSANTI PLAY */
.buttonPlay{
  border: none;
  padding: 10px 25px;
  border-radius: 30px;
  background-color: green;
  color: white;
}
.buttonSalva{
  border: none;
  padding: 10px 25px;
  border-radius: 30px;
  background-color: black;
  color: white;
  border: 1px solid white;
}

.buttonSalva:hover{
  background-color: white;
  color: #000000;
}

.friend-user-name,.bi.bi-x-lg,.mt-3,.bi.bi-person-add,.friend-song-artist,.friend-song,span,.friend-last-played{
  color: white;
}

.friend-user-name, .friend-song-artist, .friend-song, span, .friend-last-played {
  font-size: 0.7rem;
}

.friends-activity {
  font-size: 0.9rem;
}