

.searchForm {
  position: relative;
  
}
.searchIcons{
  position: absolute;
  font-size: 30px;
  top: 12px;
  left: 17px;
  color: silver;

}
.searchValue{
  background-color: #1b1b1b;
  padding: 17px;
  color: white;
  padding-left: 59px;
  font-size: 23px;
  border: none;
  width: 100%;
  border-radius: 10px;
}


 .single-card{
  position: relative;
  height: 130px;
  border-radius: 7px;
  overflow: hidden;
 }
   .img-card{
    width: 100px;
    position: absolute;
    bottom: 0;
    right: -20px;
    transform: rotate(25deg);
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px black;
   }

  .container-risultati{
    margin: 20px 0;
    background-color: purple;
    display: flex;
    padding: 15px;
    border-radius: 100px;
    justify-content: space-between;
  }
  .img-risultati{
    border-radius: 100%;
    width: 50px;
}
.img-risultati:hover{
  cursor: pointer;
box-shadow: 1px 1px 5px black;
}
.nomi-risultati{
  font-size: 26px;
  font-weight: bold;
  margin: 0;
}

.nomi-risultati:hover{
  text-decoration: underline;
  cursor: pointer;
}
.btn-risultati{
  background-color: green;
  color: white;
  text-decoration: none;
  border-radius: 100px;
  padding: 13px;
  box-shadow: 1px 1px 5px black;
}
.btn-risultati:hover{
  text-decoration: underline;
  box-shadow: none;
  cursor: pointer;

}