   /*form di ricerca*/
.searchForm {
  position: relative;
  
}

   /*icona form*/
.searchIcons{
  position: absolute;
  font-size: 25px;
  top: 12px;
  left: 17px;
  color: silver;

}
.searchValue{
  background-color: #1b1b1b;
  padding: 17px;
  color: white;
  padding-left: 50px;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  width: 100%;
  border-radius: 10px;
}

   /*card centro pagina */
 .single-card{
  position: relative;
  height: 130px;
  border-radius: 7px;
  overflow: hidden;
 }

   .img-card{
    width: 100px;
    position: absolute;
    bottom: 0;
    right: -20px;
    transform: rotate(25deg);
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px black;
   }

   /*  player position fixed */

   .container-footer-fixed {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
    position:fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
   }

   .player{
    display: flex;
    border-radius: 7px;
    align-items: center;
    justify-content: space-between;
    background-color: #282828f5;
    color:white;
    font-weight: bold;
    height: 60px;
   }

   /*titolo canzone nel player*/

   .title-player {
    flex: 1;
    text-align:center;
   }

   .title-player p {
    margin: 0;
    line-height: 1.5;
    font-size: 0.9rem;
    cursor:pointer;
   }

   /*icone laterali player*/

   .icons-player{
    font-size: 25px;
    display:flex;
    gap: 10px;
    padding-right: 10px;
   }

   .bi-play-fill:hover, .bi-heart:hover, .bi-speaker:hover{
    color:white;
    cursor:pointer;
   }
   

   .bi-speaker, .bi-heart{
    color: rgba(255, 255, 255, 0.603);
   }



   /*navbar fondo pagina */

   .navbarBottom{

    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top: 15px;
    padding-bottom: 10px;
    color:rgba(255, 255, 255, 0.656);

   }
   
      /*icone navbar fondo pagina */

   .home-icon{
    font-size: 20px;
    align-items: center;
   }

   .icons-frase {
    text-align: center;
    flex: 1;
    margin: 0 10px;
    font-size: 25px;
  }
  
  .icons-frase p {
    margin: 0;
    font-size: 0.8rem;
  }

  .icons-frase:hover {
    color:white;
  }