.scrolling-text-container {
  width: 300px; 
  overflow: hidden;
}

.scrolling-text {
  white-space: nowrap;
  display: inline-block;
  animation: scrollText 10s linear infinite;
}

@keyframes scrollText {
  0% {
    transform: translateX(-100%);
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50%{
    opacity: 1s;
  }
  75% {
    opacity:1 ;
  }
  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}




/* animazione home page to search page  */
.slide-in-fwd-center {
	-webkit-animation: slide-in-fwd-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-fwd-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
            transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
/* animazione search page to home page */
.puff-out-center {
	-webkit-animation: puff-out-center 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
	        animation: puff-out-center 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}

@-webkit-keyframes puff-out-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
}
@keyframes puff-out-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    -webkit-filter: blur(4px);
            filter: blur(4px);
    opacity: 0;
  }
}


/* search page  */
.search-container{
  background-color: #121212;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  transition: all 2s ease-in-out; 
}   

.searchValue,
.title-player p,
.bi-play-fill:hover,
.bi-speaker:hover,
.bi-heart:hover,
.icons-frase:hover {
  color:white;
}

   /*form di ricerca*/
.searchForm {
  position: relative;
  font-family: "Circular";
  src: url(../fonts/CircularStd-Medium.otf);
  font-weight: 500;
  font-style: normal;
  
}

   /*icona form*/
.searchIcons{
  position: absolute;
  font-size: 25px;
  top: 12px;
  left: 17px;
  color: silver;
}
.searchValue {
  background-color: #1b1b1b;
  padding: 17px;

  padding-left: 50px;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
  width: 100%;
  border-radius: 10px;
}

   /*card centro pagina */

.cercaTitle{
    font-family: "Circular";
    src: url(../fonts/CircularStd-BoldItalic.otf);
    font-weight: 700;
    font-style: normal;
   }

.sfogliaTitle {
    font-family: "Circular";
    src: url(../fonts/CircularStd-Medium.otf);
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;
   }

.single-card{
  position: relative;
  height: 80px;
  border-radius: 3px;
  overflow: hidden;
}
.img-artist {
  width: 100px;
  position: absolute;
  bottom: 0;
  right: -20px;
  transform: rotate(25deg);
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 2px 2px 5px black;
}

.card-body{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
}

.container-song {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 100px;
  column-gap: 20px;
}
.img-song {
  border-radius: 100%;
  width: 50px;
}
.img-song:hover {
  cursor: pointer;
  box-shadow: 1px 1px 5px black;
}
.nomi-song {
  font-size: 10px;
  font-weight: bold;
  margin: 0;
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nomi-song:hover {
  text-decoration: underline;
  cursor: pointer;
}
.btn-song {
    background-color: green;
    color: white;
    text-decoration: none;
    border-radius: 100px;
    padding: 0px 8px;
    box-shadow: 1px 1px 5px black;
    margin: 10px;
}
.btn-song:hover {
  text-decoration: underline;
  box-shadow: none;
  cursor: pointer;
}

.btn-artist {
  background-color: green;
  position: absolute;
  bottom: 12px;
  color: white;
  margin-top: 205px;
  text-decoration: none;
  border-radius: 100px;
  padding: 5px 8px;
  box-shadow: 1px 1px 5px black;
}



.frase-card {
  font-family: "Circular";
  src: url(../fonts/CircularStd-Medium.otf);
  font-weight: 500;
  font-style: normal;
  position: relative;
  z-index: 1;
  font-size: 0.8rem;
  width: 130px;
 }

.img-card{
    width: 60px;
    position: absolute;
    bottom: 0px;
    right: -15px;
    transform: rotate(25deg);
    border-radius: 6px;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px black;
    z-index: 0;
}

   /*  player position fixed */

/*  player position fixed */
.container-footer-fixed {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
    position:fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 99999;
   }

   .player{
    display: flex;
    border-radius: 7px;
    align-items: center;
    justify-content: space-between;
    background-color: #282828f5;
    color: rgba(255, 255, 255, 0.603);
    height: 50px;
   }

   /*titolo canzone nel player*/

   .title-player {
    flex: 1;
    text-align:center;
    font-family: "Circular";
    src: url(../fonts/CircularStd-Medium.otf);
    font-weight: 500;
    font-style: normal;
   }

   .title-player p {
    margin: 0;
    line-height: 1.5;
    font-size: 0.9rem;
   }

   /*icone laterali player*/

   .icons-player{
    font-size: 25px;
    display:flex;
    gap: 10px;
    padding-right: 10px;
   }

   .bi-play-fill:hover, .bi-speaker:hover, .bi-heart:hover, .title-player p {
    cursor:pointer;
   }
   

   .bi-speaker, .bi-heart{
    color: rgba(255, 255, 255, 0.603);
   }

   /*navbar fondo pagina */

   .navbarBottom{

    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-top: 15px;
    padding-bottom: 10px;
    color:rgba(255, 255, 255, 0.656);

   }
   
      /*icone navbar fondo pagina */

   .home-icon{
    font-size: 20px;
    align-items: center;
   }

   .icons-frase {
    text-align: center;
    flex: 1;
    margin: 0 10px;
    font-size: 25px;
  }
  
  .icons-frase p {
    margin-top: -5px;
    font-size: 0.7rem;
  }



  .single-card {
    position: relative;
    height: 130px;
    border-radius: 7px;
    overflow: hidden;
  }
  .img-artist {
    width: 100px;
    position: absolute;
    bottom: 0;
    right: -20px;
    transform: rotate(25deg);
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px black;
  }
  
  .container-song {
    display: flex;
    background: linear-gradient(45deg, black, transparent);
    justify-content: space-between;
    padding: 10px;
    border-radius: 100px;
    column-gap: 20px;
  }
  .img-song {
    border-radius: 100%;
    width: 50px;
  }
  .img-song:hover {
    cursor: pointer;
    box-shadow: 1px 1px 5px black;
  }
  .nomi-song {
    font-size: 10px;
    font-weight: bold;
    margin: 0;
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  .nomi-song:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  .btn-song {
      background-color: green;
      color: white;
      text-decoration: none;
      border-radius: 100px;
      padding: 0px 8px;
      box-shadow: 1px 1px 5px black;
      margin: 10px;
  }
  .btn-song:hover {
    text-decoration: underline;
    box-shadow: none;
    cursor: pointer;
  }
  
  .btn-artist {
    background-color: green;
    position: absolute;
    bottom: 12px;
    color: white;
    margin-top: 205px;
    text-decoration: none;
    border-radius: 100px;
    padding: 5px 8px;
    box-shadow: 1px 1px 5px black;
  }
.title-player p,
.bi-play-fill:hover,
.bi-speaker:hover,
.bi-heart:hover,
.icons-frase:hover {
  color:white;
}
   